body,
.nav-item {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color:rgba(47.84,44.71,33.73,1.0);      
}

.tab-content{
    background-color:white;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    color:rgba(47.84,44.71,33.73,1.0);
}

.parallax-image {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,.6) 100%), url(/img/WhiteHyds.jpg);
    background-size: cover;
}

.calendar-banner {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(/img/appts.jpg);
    background-size: cover;
}

.about-image {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(/img/about.jpg);
    background-size: cover;
}

.gift-banner {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%,rgba(255,255,255,0.6) 100%), url(/img/giftgrass.jpg);
    background-size: cover;
}


.blog-image {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.8) 100%), url(/img/blog.jpg);
    background-size: cover;
}

.box  {
    background-color: rgba(217,200,158,.15);
    padding: 30px;
    margin: 20px;
}

.aboutCard{
  background-color: rgba(217,200,158,.15);
}

.site-footer {
    /* background-image: linear-gradient(white, #a1a1a1); */
    background-color: rgba(217,200,158,.15);
    padding: 20px 0;
}
    
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge; 
    /* min-height: 200px; */
}


/*.navbar-brand {
    font-family: 'Lato', sans-serif;
    color:#87986A;
    font-size: 20px;
    font-weight: bold;
    margin: 0px; 
}*/

.navbar {
    margin: 0;
    background-color: white;
    border-bottom: 1px ridge;
}

.breadcrumb, .breadcrumb-item{
    background: none;
    border-radius: 0;
}

.btn,.btn-primary {
    border-radius: 0;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.logo {
    margin-bottom: -.25em;

}

.headline {
    padding-left: 2em;
    background: transparent;
}

.d-flex {
    overflow: hidden;   
}

.aboutBox {
  background-color: #D9C89E26
}
.spacer {
    padding-bottom: 3em;
}

.strip{
 background:#2f2c210f;
}

.stripCal{
 padding-right: 20px;   
 background:#2f2c210f;
}

.fa {
    color:rgba(47.84,44.71,33.73,.7);
}

.hy {
     background:rgba(255,255,255, 0.4);
}

p {
    color: rgba(47.84,44.71,33.73,1);
}
.text-height-0 {
  line-height: 1!important;
}
.text-height-1 {
  line-height: 1.5!important;
}
.text-height-2 {
  line-height: 2!important;
}
.text-height-3 {
  line-height: 2.5!important;
}
.text-height-4 {
  line-height: 3!important;
}
.text-height-5 {
  line-height: 3.5!important;
}

.bigbutton {
    background: rgba(41, 69, 170, 0.12);
    color: rgba(47.84,44.71,33.73,.8);
    border: 1px solid rgba(47.84,44.71,33.73,.3);
}


.bigbuttonCal {
    margin-right: 20px; 
    background: rgba(41, 69, 170, 0.12);
    color: rgba(47.84,44.71,33.73,.8);
    border: 1px solid rgba(47.84,44.71,33.73,.3);
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.giftForm {
    padding: 2em;    
    border: 1px solid rgba(47.84,44.71,33.73,.1);
}

.form-control::-webkit-input-placeholder {
  color: rgba(47.84,44.71,33.73,.3);
}

#gform {
	margin-left: auto;
	margin-right: auto;
}

  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  
  .card-img-top {
    width: 100%;
    height: 22rem;
    object-fit: cover;
}

.card-img-post {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

@media (max-width: 950px) { 
	
	.card-deck-wrapper {margin-right:0;margin-left:0;}
	.card-deck {
	    display: block;
	    width: 100%;
	    margin-bottom: .75rem;
	    table-layout: fixed;
	    border-spacing: 1.25rem 0;
	}
	.card-deck .card {
	    display: block;
	    margin-bottom: .75rem;
	    vertical-align: top;
	}
  
  .card-deck .card:not(:first-child) {
    margin-left: 0px;
}
  
}