body,
.nav-item {
    font-family: 'Lato', sans-serif;
    background-color: rgba(217,200,158,.0);
    color:rgba(47.84,44.71,33.73,1.0);      
}

.tab-content{
    background-color:white
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    color:rgba(47.84,44.71,33.73,1.0);
}

.parallax-image {
    background-image: url(/img/puff-lt.jpg);
    background-size: cover;
} 

.box  {
    background-color: rgba(217,200,158,.15);
    padding: 30px;
    margin: 20px;
}


.site-footer {
    /* background-image: linear-gradient(white, #a1a1a1); */
    background-color: rgba(217,200,158,.15);
    padding: 20px 0;
}
    
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {  
    margin: 0;
    padding: 1em 5em 1em 5em;
}
/* 
.navbar-brand {
    font-family: 'Lato', sans-serif;
    color:#87986A;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
} */


.navbar-toggler{
    margin-top: 20px;
    margin-right: 20px
}

.breadcrumb, .breadcrumb-item{
    background: none;
    border-radius: 0;
}

.btn,.btn-primary {
    border-radius: 0;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.headline {
    background:transparent;
}

.d-flex {
    overflow: hidden;
    background:rgba(47.84,44.71,33.73,.06);
}

.fa {
    color:rgba(47.84,44.71,33.73,.7);
}

p * {
  background-color: inherit;
}
.text-height-0 {
  line-height: 1!important;
}
.text-height-1 {
  line-height: 1.5!important;
}
.text-height-2 {
  line-height: 2!important;
}
.text-height-3 {
  line-height: 2.5!important;
}
.text-height-4 {
  line-height: 3!important;
}
.text-height-5 {
  line-height: 3.5!important;
}
